{% extends "network/layout.html" %}


{% block body %}

<div class="comment-div allposts-div">

    <!-- The card containing a post to be commented on -->
    <article class="comment-card">
        <div class="post-card-body">
            <div class="card-user-image">
                <img class="user-image" src={{post.poster.userImage}}>
            </div>
            <div class="card-body-post">
                <h2><a href="{% url 'person' post.poster.id %}">{{post.poster}}</a></h2>
                <p><a href="{% url 'comments' post.id %}">{{post.post}}</a></p>
                {% if post.picture != None %}
                <img src={{post.picture}}>
                {% endif %}
                <div class="icons-div">
                    <a class="like-buttons" data-id={{post.id}}>
                        <button data-id="{{post.id}}colored" class="colored-heart btn-icon"><i class="las la-heart" aria-hidden="true"></i></button>
                        <button data-id="{{post.id}}uncolored" class="uncolored-heart btn-icon"><i class="lar la-heart"></i></button>
                        <small id="like{{post.id}}" class="show-like">{{post.like}}</small>
                    </a>
                    <a>
                        <button class="btn-icon"><i class="las la-comment-alt"></i></button>
                        <small>{{post.nocomments}}</small>
                    </a>
                </div>
                <small class="timestamp">{{post.timestamp}}</small>
                </div>
        </div>
    </article>

    <!-- Comment form -->
    <form class="comment-form" method="post" action="{% url 'comments' post.id %}">
        {% csrf_token %}
        <label for="comment"></label>
        <textarea id="comment" class="comment" name="text" placeholder="Type your comment here" required></textarea>
        <button class="comment-btn" type="submit">Comment</button>
    </form>

    <!-- The div that shows the comments for the post -->
    {% for comment in comments %}
    <div class="comment-view">
        <div>
            <img src={{comment.person.userImage}}>
        </div>
        <div>
            <h4>{{comment.person}}</h4>
            <p>{{comment.comment}}</p>
            <small>{{comment.times}}</small>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}